version: '3'

services:
  web:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    ports:
      - "8080:80"
    volumes:
      - .:/app/
    depends_on:
      - php

  php:
    environment:
      - DB_PASSWORD
      - DB_USERNAME
      - DB_DATABASE
      - DB_HOST
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - .:/app/
