.button-no-fill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;

    position: static;
    width: 6.6vw;
    height: 3.9vh;

    /* M3/sys/light/outline */
    background: rgba(0,0,0,0);
    border: 1px solid #79747E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 auto;
}

.button-fill-primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;

    position: static;
    width: 6.6vw;
    height: 3.9vh;

    /* material-theme/sys/light/primary-container */

    background: #6FF6F9;
    border: 1px solid #79747E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0 auto;
}

.button-no-fill:hover {
    cursor: pointer;
}

.button-fill-primary:hover {
    cursor: pointer;
}

.button-fill-primary:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-no-fill:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button.button-fill-primary.logout-button {
    background: white;
    width: 7vw;
    height: 7vw;
}

@media only screen and (max-device-width: 420px) {
    .button-fill-primary {
        font-size: 6vw;
        width: 80vw;
        height: 8vh;
    }

    button.button-fill-primary.logout-button {
        width: 11vw;
        height: 11vw;
    }
}